
<h1 class="text-center">Carrito de Compras</h1>
<div class="container">
    {{#each productos}}
    <div class="card mb-3">
        <div class="card-body">
          <img src="{{this.thumbnail.[0]}}" class="thumbnail" alt="Thumbnail" style="max-width: 10rem; max-height: 10rem; object-fit: contain;">
            <h5 class="card-title">Producto: {{this.product.title}}</h5>
            <p class="card-text">Cantidad: {{this.quantity}}</p>
            <p>Precio c/u: ${{this.price}}</p></div>
            <p class="card-text">Precio Total: ${{this.product.totalPrice}}</p>
            <button onclick="eliminarProducto('{{this.cartId}}', '{{this.product._id}}')"
                class="btn btn-danger">Eliminar</button>
        </div>
    </div>
    {{/each}}
</div>